{% extends 'base.html' %}
{% block contents %}
{% load static %}
    <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}">
    
    <link rel="stylesheet" href="{% static 'css/swiper.css'%}">
    <script type="text/javascript" src="{% static 'js/swiper.min.js'%}"></script>
    </head>
    
<body>
    <h1 class="title">라인업</h1>

    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img src="{% static 'img/back7.jpg' %}" alt="lineup1" width="100%" height="50%"/></div>
            <div class="swiper-slide"><img src="{% static 'img/back8.jpg' %}" alt="lineup2" width="100%" height="50%"/></div>
            <div class="swiper-slide"><img src="{% static 'img/back9.jpg' %}" alt="lineup3" width="100%" height="50%"/></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>

  <h1 class="title">타임테이블</h1>
  <div class="timetable">
    <img src="{% static 'img/timetable1.png' %}" alt="timetable" width="80%" height="80%" />
  </div>

  <div class="zone">
    <h1 class="title">강대ZONE</h1>
  </div>

  <script>
    var mySwiper = new Swiper('.swiper-container', {
      speed: 400,
      loop: true,
      autoplay: {
        delay: 2000,
      },
    });
  </script>

</body>

{% endblock %}