{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/foodtruck.css' %}">
{% endblock %}

{% block contents %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0">

<section class="Map">
    <img class="foodMap" src="{% static "img/sixty2.png" %}">
</section>

<div class="Mapleport">
    <button type="button" onclick="location.href='{% url 'foodtruck:haminseop' %}';">함인섭광장</button>
    <button type="button" onclick="location.href='{% url 'foodtruck:mirae'%}';"> 미래광장 </button>
</div>


<div class="FTcontainer">
    <div class="FT_1 List">
        {% for foodtruck in foodtrucks1 %}
            <div class="detail">
                <img class="img" src="{% static "img/foodTruck.png" %}">
                <div class="intro">
                    <p class="space">{{foodtruck.name}}</p>
                    <p class="space">{{foodtruck.memo}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="FT_2 List">
        {% for foodtruck in foodtrucks2 %}
            <div class="detail">
                <img class="img" src="{% static "img/foodTruck.png" %}">
                <div class="intro">
                    <p class="space">{{foodtruck.name}}</p>
                    <p class="space">{{foodtruck.memo}}</p>
                </div>
            </div>
        {% endfor %}        
    </div>
</div>



{% endblock %}