{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/foodtruck.css' %}">
{% endblock %}

{% block contents %}

<img class="foodMap fontClass2" src="{% static "img/sixty2.png" %}">

<div class="Mapleport fontClass2">
    <button type="button" onclick="location.href='{% url 'foodtruck:haminseop' %}';">함인섭광장</button>
    <button type="button" onclick="location.href='{% url 'foodtruck:mirae'%}';"> 미래광장 </button>
</div>


<div class="FTcontainer fontClass2">
    <div class="FT_1 List">
        {% for foodtruck in foodtrucks1 %}
            <div class="detail" onclick = "myFunction({{foodtruck.id}})">
                <img class="img" src="{{ foodtruck.ftimage.url }}">
                <div class="intro">
                    <p class="space">{{foodtruck.name}}</p>
                    <p class="space">{{foodtruck.memo}}</p>
                    <div class="modal" id="modal{{foodtruck.id}}">
                        <div class="modal_content">
                            <div class = "modal_container">

                                <div class = "modal_info">
                                    <div class = "info_left">
                                        <div class="modal_img"> <img src="{{foodtruck.image.url}} ">
                                        </div>
                                    </div>
                                </div>
                                <div class = "modal_menu">
                                    <table = class ="modal_table">
                                        <tr>
                                            {% for menu in foodtruck.menus.all %}
                                            <td class = "modal_food">{{ menu.food }}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for menu in foodtruck.menus.all %}
                                            <td>{{ menu.price }}</td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </div>
                                    <div class = "modal_button">
                                    <button type="button" onclick = "deleteFunction({{foodtruck.id}}, event)">닫기</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal_layer">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="FT_2 List">
        {% for foodtruck in foodtrucks2 %}
            <div class="detail" onclick = "myFunction({{foodtruck.id}})">
                <img class="img" src="{{ foodtruck.ftimage.url }}">
                <div class="intro">
                    <p class="space">{{foodtruck.name}}</p>
                    <p class="space">{{foodtruck.memo}}</p>
                    <div class="modal" id="modal{{foodtruck.id}}">
                        <div class="modal_content">
                            <div class = "modal_container">

                                    <div class = "modal_info">
                                        <div class = "info_left">
                                            <div class="modal_img"> <img src="{{foodtruck.image.url}} ">
                                            </div>
                                        </div>
                                    </div>
                                                
                                                        <div class = "modal_menu">
                                                    
                                                        </div>
                                                            <div class = "modal_button">
                                                            <button type="button" onclick = "deleteFunction({{foodtruck.id}}, event)">닫기</button>
                                                            </div>
                            </div>
                        </div>
                                                                <div class="modal_layer">
                                                                </div>
                    </div>
                </div>
            </div>
        {% endfor %}        
    </div>
</div>


<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script>
function myFunction(id){
    console.log('hohohoho')
     $("#modal" + id).fadeIn();
}

function deleteFunction(id, event){
    console.log(event)
    $("#modal" + id).fadeOut();
    event.stopPropagation()
}
  </script>   
{% endblock %}