{% extends 'base.html' %}


{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/foodtruck.css' %}">
{% endblock %}

{% block contents %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0">

<section class="Map">
    <img class="foodMap" src="{% static "img/sixty2.png" %}">
</section>

<div class="FTcontainer">
    <section class="FT_1 List">
        <img src="{% static "img/foodTruck.png" %}">
        <div class="intro">
            {% for foodtruck in foodtrucks %}
                <p>{{foodtruck.name}}</p>
                <p>{{foodtruck.memo}}</p>
            {% endfor %}
        </div>
    </section>
    <section class="FT_2 List">
        <img src="{% static "img/foodTruck.png" %}">
        <div class="intro">
            {% for foodtruck in foodtrucks %}
                <p>{{foodtruck.name}}</p>
                <p>{{foodtruck.memo}}</p>
            {% endfor %}
        </div>        
    </section>
</div>
{% endblock %}