{% extends 'base.html' %}


{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/foodtruck.css' %}">
{% endblock %}

{% block contents %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0">

<section class="Map">
    <img class="foodMap" src="{% static "img/haminseop2.png" %}">
</section>

<div class="FTcontainer">
    <section class="FT_1 List">
        {% for foodtruck in foodtrucks1 %}
            <div class="detail">
                <img class="img" src="{% static "img/foodTruck.png" %}">
                <div class="intro">
                    <p class="space">{{foodtruck.name}}</p>
                    <p class="space">{{foodtruck.memo}}</p>
                </div>
            </div>
        {% endfor %}
    </section>
    <section class="Booth_2 List">
        {% for booth in booths1 %}
            <div class="detail">
                <img class="img" src="{% static "img/booth.png" %}">
                <div class="intro">
                    <p class="space">{{booth.name}}</p>
                    <p class="space">{{booth.memo}}</p>
                </div>
            </div>
        {% endfor %}
    </section>
</div>
{% endblock %}