{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/update.css' %}">
{% endblock %}

{% block contents %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0">

<div class="update">
  <form method="POST" action="{% url 'foodtruck:booth_update' pk=booth.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <h4>수정하기</h4>
    <div class="update-body">
      <label>부스 이름</label>
      <input type="text" name="name" value="{{ booth.name }}">
      <label>부스 소개</label>
      <textarea  name="memo">{{ booth.memo }}</textarea>
      <label>사진 수정 (사진 수정시만 변경)</label>
      <input type="file" name="image" value="{{ booth.image }}">
    </div>
    <button type="submit">수정하기</button>
  </form>
</div>
{% endblock %}