{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/update.css' %}">
{% endblock %}

{% block contents %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0">

<div class="update">
 {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'info' %}
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }} 
                                {% if foodtruck.divi == 1 %}
                                <a href="{% url 'foodtruck:foodtruck' %}" style="color: deeppink !important;"><br/>변경 내역 확인하기 (클릭)</a>
                                {% else %}
                                <a href="{% url 'foodtruck:haminseop' %}" style="color: deeppink !important;"><br/>변경 내역 확인하기 (클릭)</a>
                                {% endif %}
                        </div>
                    {% else %}
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }} 
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
  <form method="POST" action="{% url 'foodtruck:foodtruck_update' pk=foodtruck.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <h4>수정하기</h4>
    <div class="update-body">
      <label>부스 이름</label>
      <input type="text" name="name" value="{{ foodtruck.name }}">
      <label>사진 수정 (사진 수정시만 변경)</label>
      <input type="file" name="image" value="foodtruck.image">
    </div>
    <button type="submit">수정하기</button>
  </form>
</div>
{% endblock %}