/* 탭 관련 */
ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    margin-top: 10px;
    padding-left: 15px;
}
ul.tabs li{
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background: cornsilk;
}

ul.tabs li.current{
    background: #FFCE4D;
    color: #222;
}

.tab-content{
    display: none;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}



/* 주웠어요, 잃어버렸어요 */
#found, #finding {
    width:30px;
    border: none;
    border-bottom: 2px solid #ced4da;
}



/* 디테일 페이지 */
.boardBody .board .btn-addcmt {
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.boardBody .btn-addcmt > button{
    width: 40px;
    height: 40px;

    background-image: url("https://image.flaticon.com/icons/svg/1380/1380338.svg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: unset;
    background-size: 80% 80%;
    border: none;
}

.boardBody .addcmt-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.boardBody .addcmt-body > button { 
    margin-top: 20px;
    width: 60px;
    align-self: flex-end;
}

.boardBody .addcmt-body > input { 
    border: none;
    border-bottom: 2px solid #ced4da;
    margin-top: 20px;
}

.cmt-cnt {
}