
.boardBody {
    padding: 10px;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.boardBody .title, p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;
}
.boardBody .title {
    font-weight: bold;
}

.board-header { 
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    max-width: 1000px;
}

.board-header button.big { 
    background-image: url(https://image.flaticon.com/icons/svg/1001/1001371.svg);
    width: 150px;
    padding: 10px 15px;
    background-color: #FFF5FF;
    background-position: 10px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-flow: row-reverse;
}

.board-header button.small { 
    background-image: url(https://image.flaticon.com/icons/svg/1001/1001371.svg);
    width: 40px;
    height: 40px;
    background-color: #FFF5FF;
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    display: none;
}

.boardBody .boards { 
    width: 90vw;
    max-width: 1000px;
    flex-flow: column;
    align-items: center;
}

.boardBody .board {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: #FFF5FF;
    border-radius: 10px;
}

.boardBody .board .buttons {
    margin-left: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.boardBody .buttons > button{
    width: 40px;
    height: 40px;

    background-image: url("https://image.flaticon.com/icons/svg/61/61848.svg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: unset;
    background-size: 80% 80%;
    border: none;
}

/* .boardBody .buttons > button{
    width: 80px;
    height: 80px;
    background-color: antiquewhite;
} */

.boardBody .alert { margin-top: 20px; }

.boardBody .alert-dismissible .close { padding: 0.5rem; }

.boardBody > p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 30px;
}

.boardBody .board > a {
    margin-block-start: 0em;
    margin-block-end: 0em;
    flex-grow: 1;
    overflow: scroll;
}

.boardBody .board img {
    width: 100%;
    /* height: 50vw; */
}

.boardBody .board > a > p {
    height: auto;
    font-size: 20px;
    overflow: scroll;
}


.boardBody .delete-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.boardBody .delete-body > button { 
    margin-top: 20px;
    width: 60px;
    align-self: flex-end;
}

.boardBody .delete-body > input { 
    border: none;
    border-bottom: 2px solid #ced4da;
    margin-top: 20px;
    background-color: #FFF5FF;
}

.boardBody .create-modal {
    padding: 5vw;
}

.boardBody .create-modal-body {
    background-color: white;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.boardBody .create-modal-body .modal-header,
.boardBody .create-modal-body .modal-footer{
    border: none;
}
.boardBody .create-modal-body .modal-body {
    padding-top: inherit;
}


.boardBody .create-modal-body input {
    width: 100%;
    border: none;
    border-bottom: 2px solid deeppink;
}

.boardBody .create-modal-body p:nth-of-type(2),
.boardBody .create-modal-body p:nth-of-type(3),
.boardBody .create-modal-body p:nth-of-type(5){
    margin-top: 20px;
}





/* 비밀번호 확인 모달 */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    color: deeppink;
}

.modal .modal-footer button{
    border: 2px solid;
    background-color: white;
    color: deeppink;
}

.modal input {
    background-color: white;
}

.modal textarea {
    background-color: white;
    border: 2px solid deeppink;
    height: 20vh;
}

.modal-content {
    background-color: #FFF5FF;
    margin:20% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;        
    
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pwform{
    color:red;
}

.boardBody .pagination {
    justify-content: center;
    margin-top: 10px;
}

.boardBody .pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    max-height: 60px;
    max-width: 60px;
    background-color: #FFF5FF;
    margin: 1px;
    font-weight: bold;
}




/* 디테일 페이지 */
.boardBody .board .btn-addcmt {
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.boardBody .btn-addcmt > button{
    width: 40px;
    height: 40px;

    background-image: url("https://image.flaticon.com/icons/svg/1380/1380338.svg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: unset;
    background-size: 80% 80%;
    border: none;
}

.boardBody .addcmt-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.boardBody .addcmt-body > button { 
    border: 2px solid;
    background-color: #ffdde6;
    color: deeppink;
    margin-top: 20px;
    width: 60px;
    align-self: flex-end;
}

.boardBody .addcmt-body > input { 
    border: none;
    border-bottom: 2px solid #ced4da;
    margin-top: 20px;
}

@media screen and (max-width: 300px) {
    .board-header button.small { display: block; }
    .board-header button.big { display: none; }
}

.boardBody .lostboard {
    display: grid;
    grid-template-rows: auto 50vw auto;
    grid-template-columns: auto 40px;
    grid-gap: 2vw;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #FFF5FF;
    border-radius: 10px;
}

.boardBody .lostboard a{
    grid-column: 1/2;
    grid-row: 1/2
}

.boardBody .lostboard .buttons{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.boardBody .lostboard img{
    grid-column: 1/3;
    grid-row: 2/3;
    height: 100%;
    width: 70%;
    border-radius: 20px;
    justify-self: center;
}

.boardBody .lostboard .lostboard-footer{
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

/* .boardBody .lostboard a p{
    overflow: hidden;
} */


/*board-detail*/
.detail-container .board-detail {
    display: flex;
    flex-flow: column;
    background-color: #FFF5FF;

    padding: 2%;
    border-radius: 10px;
    margin-top: 10px;
}

.detail-container .board-detail .detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.detail-container .board-detail .detail-header .btn-addcmt {
    background-image: url("https://image.flaticon.com/icons/svg/1380/1380338.svg");
}

.detail-container .board-detail .detail-footer p {
    display: flex;
    justify-content: flex-end;
}

.detail-container .board-detail-comments .comment {
    background-color: #FFF5FF;
    padding: 2%;
    border-radius: 10px;
    margin-top: 10px;
}

.detail-container .board-detail img{
    width: 70vw;
    height: 70vw;
    max-width: 700px;
    max-height: 500px;
    align-self: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

.friendTitle {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.footerArea {
    font-size: 15px;
}