
.boardBody {
    padding: 10px;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-flow: column;
    align-items: center;
}

.boardBody .title, p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;
}
.boardBody .title {
    font-weight: bold;
}

.board-header { 
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
}

.board-header button { 
    background-image: url(https://image.flaticon.com/icons/svg/1001/1001371.svg);
    width: 140px;
    height: 40px;
    background-color: rgb(253, 255, 147);
    background-position: 10px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-flow: row-reverse;
}

.boardBody .boards { 
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.boardBody .board {
    display: flex;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(253, 255, 147);
    border-radius: 10px;
}

.boardBody .board .buttons {
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.boardBody .buttons > button{
    width: 40px;
    height: 40px;

    background-image: url("https://image.flaticon.com/icons/svg/61/61848.svg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: unset;
    background-size: 80% 80%;
    border: none;
}

/* .boardBody .buttons > button{
    width: 80px;
    height: 80px;
    background-color: antiquewhite;
} */

.boardBody .alert { margin-top: 20px; }

.boardBody .alert-dismissible .close { padding: 0.5rem; }

.boardBody > p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 30px;
}

.boardBody .board > a {
    margin-block-start: 0em;
    margin-block-end: 0em;
    flex-grow: 1;
}

.boardBody .board > a > p {
    height: 100%;
    font-size: 20px;
    overflow: scroll;
}


.boardBody .delete-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.boardBody .delete-body > button { 
    margin-top: 20px;
    width: 60px;
    align-self: flex-end;
}

.boardBody .delete-body > input { 
    border: none;
    border-bottom: 2px solid #ced4da;
    margin-top: 20px;
}

.boardBody .create-modal {
    padding: 10%;
}

.boardBody .create-modal-body {
    background-color: #FFCE4D;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.boardBody .create-modal-body .modal-header,
.boardBody .create-modal-body .modal-footer{
    border: none;
}
.boardBody .create-modal-body .modal-body {
    padding-top: inherit;
}


.boardBody .create-modal-body input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ced4da;
}

.boardBody .create-modal-body p:nth-of-type(2) {
    margin-top: 20px;
}




/* 비밀번호 확인 모달 */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #fefefe;
    margin:20% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;        
    
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pwform{
    color:red;
}

.boardBody .pagination {
    justify-content: center;
    margin-top: 10px;
}

.boardBody .pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    max-height: 60px;
    max-width: 60px;
    background-color: aliceblue;
    margin: 1px;
    font-weight: bold;
}




/* 디테일 페이지 */
.boardBody .board .btn-addcmt {
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.boardBody .btn-addcmt > button{
    width: 40px;
    height: 40px;

    background-image: url("https://image.flaticon.com/icons/svg/1380/1380338.svg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: unset;
    background-size: 80% 80%;
    border: none;
}

.boardBody .addcmt-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.boardBody .addcmt-body > button { 
    margin-top: 20px;
    width: 60px;
    align-self: flex-end;
}

.boardBody .addcmt-body > input { 
    border: none;
    border-bottom: 2px solid #ced4da;
    margin-top: 20px;
}