html, body {
   background-color: #ffdde6;
}

a { 
   color: black !important;
}

.nav-item a {
   text-align: center;
}

.hover_li:hover {
   background-color: black;
   font-size: 20px;
   color: aliceblue;
   border-radius: 5em;
}

.hover_li:hover .hover_word {
   font-size: 20px;
   color: aliceblue;
}

.hover_li:hover i {
   font-size: 20px;
   color: aliceblue;
}

.footerClass {
   /* position: absolute;
   display: block; */
   width: 80%;
   margin-left: 10%;
   /* bottom: 0;  */
   text-align: center;
   border-top: 1px solid black;
   padding-top: 20px;
}

.title {
   margin-top: 20px;
   margin-left: 20px;
}

footer {
   height: 100px;
}

.icon {
   margin-right: 10px;
   /* #ffdde6; */
}

.topNav {
   position: fixed;
   padding-top: 20px;
   padding-left: 20px;
   list-style: none;
   background-color:white;
   min-height: 65px;
   display: flex;
   flex-direction: row;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   color:#d4002f;
}

.dropMenu {
   margin-left: 10%;
}
.subNav {
   display: flex;
   flex-direction: column;
   display: block;
}

.item1 {
   list-style: none;
}

.contentSection {
   transition: all 0.7s;
   margin-top: 70px;
}

.contentDiv {
   margin-top: 110px !important;
   transition: all 0.7s !important;
}