html, body {
   /* height: 100%; */
   background-color: rgb(244, 239, 235);
}

.indexBody, .lostboardBody, .friendboardBody, .foodtruckBody {
   background-color: rgb(244, 239, 235);
}
a{
   color: black !important;
}

#content-container {
   width: 100%;
   min-height: calc(100vh - 100px);
}

.footerClass {
   /* position: absolute;
   display: block; */
   width: 80%;
   margin-left: 10%;
   /* bottom: 0;  */
   text-align: center;
   border-top: 1px solid black;
   padding-top: 20px;
}

.title {
   margin-top: 20px;
   margin-left: 20px;
}

footer {
   height: 100px;
}