html, body {
   height: 100%;
   background-color: rgb(244, 239, 235);
}

.indexBody, .lostboardBody, .friendboardBody, .foodtruckBody {
   background-color: rgb(244, 239, 235);
}
a{
   color: black !important;
}

#content-container {
   min-height: 720px;
}

.footerClass {
   position: absolute;
   display: block;
   width: 80%;
   left: 10%;
   bottom: 0;
   text-align: center;
   border-top: 1px solid black;
   padding-top: 20px;
}

.title {
   margin-top: 20px;
   margin-left: 20px;
}
