{% extends 'base.html' %}
{% block contents %}
{% load static %}
<h1 class="title">분실물</h1>
<p>{{lostpost.content}}</p>
<p>{{lostpost.found}}</p>
<p>{{lostpost.created_at}}</p>
{% if lostpost.image %}
<img src="{{ lostpost.image.url }}" alt="">
{% endif %}
<a href="{% url 'lostboard:deletepost' pk=lostpost.pk %}">글 삭제</a>
<hr>
{% for comment in lostpost.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_at }}</div>
        <p>{{ comment.content|linebreaks }}</p>
    </div>
    <hr>
{% empty %}
    <p>아직 댓글이 없습니다.</p>
{% endfor %}
<form method="POST" action="{% url 'lostboard:createcomment' pk=lostpost.pk %}">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit">
</form>
{% endblock %}