{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <link rel="stylesheet" href="{% static 'css/lostboard.css' %}">
{% endblock %}

{% block contents %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="boardBody">
    <div class="board-header">
        <p class="title">분실물</p>
    </div>

    <div class="detail-container">
        
        <div class="board">
            <p class="detail-content">{{post.content}}<br>
                {{post.created_at}}<br>
                {% if post.image %}
            <img src="{{ post.image.url }}" alt="">
            {% endif %}<br>
            댓글 {{ post.comments.count }}개</p>
            {% for comment in post.comments.all %}
                <div class="comment">
                    <div class="detail-comment-date">{{ comment.created_at }}</div>
                    <p class="detail-comment">{{ comment.content|linebreaks }}</p>
                </div>
            {% endfor %}
            <div class="buttons">
                <button id="myBtn{{post.pk}}" onclick="delpost(event, '{{post.pk}}')"></button>
            </div>
        </div>

        <!-- <div class="board">
            <p class="detail-content">{{post.content}}</p>
            <p class="detail-date">{{post.created_at}}</p>
            <div class="buttons">
                <button id="myBtn{{post.pk}}" onclick="delpost(event, '{{post.pk}}')"></button>
            </div>
            {% if post.image %}
            <p class="detail-image"><img src="{{ post.image.url }}" alt=""></p>
            {% endif %}
            <div>
                <p class="detail-comment-cnt">댓글 {{ post.comments.count }}개</p>
            </div>
            {% for comment in post.comments.all %}
                <div class="comment">
                    <div class="detail-comment-date">{{ comment.created_at }}</div>
                    <p class="detail-comment">{{ comment.content|linebreaks }}</p>
                </div>
            {% empty %}
                <p>아직 댓글이 없습니다.</p>
            {% endfor %}
        </div> -->

        <div id="myModal{{post.pk}}" class="modal">
            <form action="{% url 'lostboard:deletepost' post.pk %}" method="POST">
                {% csrf_token %}
                <div class="modal-content delete-body">
                    <div class="delete-header">
                        <p>삭제하기</p>
                        <span class="close" id="cls{{post.pk}}">&times;</span>     
                    </div>                                                          
                    <p>글 등록시 입력 한 비밀번호 입력하세요</p>
                    <input name="valpw" type="password">
                    <button type="submit" class="btn btn-danger">삭제</button>
                </div>
            </form>
        </div> 
    </div>

    <script>
        function delpost(event, pk){
                console.log(event)
                clickmodal = "myModal" + pk;
                clickbtn = "myBtn" + pk;
                clickcls = "cls"+ pk;
                var btn = document.getElementById(clickbtn);
                var modal = document.getElementById(clickmodal);
                var span = document.getElementById(clickcls);   
                modal.style.display = "block";


                span.onclick = function() {
                    modal.style.display = "none";
                }
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                event.stopPropagation()
        }
    </script>
</div>
{% endblock %}