@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }

.timetableImage{
    margin-left: 10%;
} 

.fontWhite {
    font-family: 'yg-jalnan';
    color: white;
}

.buttonContainer{
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-gap: 10px;
    justify-content: center;
}

.title{
    padding-bottom: 5%;
    margin-left: 5%;
}

.empty{
    height: 7vh;
}

.contentContainer {
    margin-bottom: 10vh;
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
}
.contentContainer.main-img { width: 100vw; }

.events {
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.event {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
    width: 50vw;
    max-width: 400px;
    height: 70vw;
    max-height: 600px;
    background-color: white;
    padding: 10px;
}

.event-pagination { 
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.events .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
}
.events .swiper-pagination-bullet-active { background: hotpink; }


.event .main-img {
    width: 100%;
}

.event h4 {
    color: black;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.index-modal {
    display: none;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
}

.index-modal .body {
    width: 90vw;
    height: 90vw;
    max-width: 500px;
    max-height: 500px;
    background-size: contain;
}


.lineup img{
    border-radius: 30px;
}

.timetable {
    width: 90vw;
    max-width: 500px;
    margin: 0 auto;
}