/* css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}  */

body{
	font-size: 0;
}
.Map{
	margin: 1%;
	width: 98%;
	height: auto;
}

.foodMap{
	width:100%
}

.List{
	margin: 3%;
	width: 40vw;
}

.FTcontainer{
	display:flex;
	font-size:1rem;
	margin:0;
	/* background-image:url(ex.png); */
}

.FT_1{
	border-right: 3px solid black;
	padding-right: 0;
	flex-grow:1;
	padding-right:1%;
	margin-right:1%;
}

.detail{
	display:flex;
	margin-top: 1vh;
}

.img{
	width:6vh;
	height:6vh;
}

p{
	margin:0;
}

.intro{
	/* border: 1px solid black; */
	width:40vw;
	flex-grow:2;
	padding-top:3%;
	background-image: url(ex.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.space{
	padding-left:5vw;
}

.FT_2{
	flex-grow:1;
	margin-left: 0;
}

.Booth_1{
	border-right: 3px solid black;
}

.Booth_2{

}

@media(min-width: 360px){

}
