
.update {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: calc(100vh - 100px);
}

.update form {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    max-width: 80vw;
    background-color: white;

    padding: 2vh;
    border-radius: 10px;
}

.update input, .update textarea{
    width: 100%;
    margin-bottom: .5rem;
}

.update input {
    border: none;
    border-bottom: 2px solid black;
}

.update input[type="file"] {
    background-color: #ffdde6;
    border-bottom: none;
}

.update textarea {
    height: 20vh;
    background-color: #ffdde6;
    border: 1px solid rgb(244, 244, 247);
}

.update button {
    height: 10%;
    border: none;
    background-color: #ffdde6;
}