{% load static %} 
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">

    <title>KNU - 대동제</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    {% block css %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg text-uppercase" id="mainNav" style="background-color: #D6CBC8 !important; min-height: 80px;">
    <div class="container">
        <a class="navbar-brand nav-link item py-3 px-0 px-lg-3 rounded" href="{% url 'index' %}">
            <i class="icon fab fa-forumbee"></i>
            <span>로고자리</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="navbar-toggler-icon fas fa-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link item py-3 px-0 px-lg-3 rounded" href="/foodtruck/">
                    <i class="icon fas fa-utensils"></i><span>푸드트럭</span></a></li>
            <li class="nav-item">
                <a class="nav-link item py-3 px-0 px-lg-3 rounded" href="/lostboard/">
                    <i class="icon fas fa-inbox"></i><span>분실물</span></a></li>
            <li class="nav-item">
                <a class="nav-link item py-3 px-0 px-lg-3 rounded" href="/friendboard/">
                    <i class="icon fas fa-users"></i><span>술친구찾기</span></a></li>
          </ul>
        </div>
    </div>
    </nav>

<div id="content-container">
    {% block contents %}
    {% endblock %}
</div>
<footer>
    <div class="footerClass">
        <h6>E-mail: noreply@knu-festival.com</h6>
        <p><a href="https://github.com/qwlake/knu-festival">github 링크</a>
        <p class="lead mb-0">made by 
        <a href="https://likelion.net/">멋쟁이 사자처럼</a></p>
        <small>Copyright &copy; KNU Likelion 7th</small>
    </div>
</footer>

</body>
</html>
