{% load static %} 
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">

    <title>KNU - 대동제</title>

    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block css %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav" style="background-color: #D6CBC8 !important; height: 80px;">
        <div class="container">
            <a class="item navbar-brand" href="{% url 'index' %}">로고자리</a>
            <a class="item py-3 px-0 px-lg-3 rounded " href="/foodtruck/">푸드트럭</a>
            <a class="item py-3 px-0 px-lg-3 rounded " href="/lostboard/">분실물</a>
            <a class="item py-3 px-0 px-lg-3 rounded" href="/friendboard/">술친구</a>
        </div>
    </nav>

<div id="content-container">
    {% block contents %}
    {% endblock %}
</div>
<footer>
    <div class="footerClass">
        <h6>E-mail: noreply@knu-festival.com</h6>
        <p><a href="https://github.com/qwlake/knu-festival">github</a>
        <p class="lead mb-0">Copy right 2019, by 
        <a href="https://likelion.net/">멋쟁이 사자처럼</a></p>
        <small>Copyright &copy; KNU Likelion 7th</small>
    </div>
</footer>

</body>
</html>
