{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/friendboard.css' %}">
{% endblock %}

{% block contents %}
    <div class="friendboardBody">
    <h1 class="title">술친구</h1>
    <div class="friends">
        <div class="friend">
            <p>술 먹어요 호호</p>
            <div class="buttons">
                <button></button>
            </div>
        </div>

        <div class="friend">
            <p>술 먹어요 호호</p>
            <div class="buttons">
                <button></button>
            </div>
        </div>

        <div class="friend">
            <p>술 먹어요 호호</p>
            <div class="buttons">
                <button></button>
            </div>
        </div>

        <div class="friend">
            <p>술 먹어요 호호</p>
            <div class="buttons">
                <button></button>
            </div>
        </div>

        <div class="friend">
            <p>술 먹어요 호호</p>
            <div class="buttons">
                <button></button>
            </div>
        </div>

        <div class="friend">
            <p>술 먹어요 호호</p>
            <div class="buttons">
                <button></button>
            </div>
        </div>

        <div class="friend">
            <p>술 먹어요 호호</p>
            <div class="buttons">
                <button></button>
            </div>
        </div>

        <div class="friend">
            <p>술 먹어요 호호</p>
            <div class="buttons">
                <button></button>
            </div>
        </div>

        <div class="friend">
            <p>술 먹어요 호호</p>
            <div class="buttons">
                <button></button>
            </div>
        </div>
    </div>
    </div>
{% endblock %}