{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/friendboard.css' %}">
{% endblock %}

{% block contents %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="friendboardBody">
    <h1 class="title">술친구</h1>
    <div class="friends">
        
        <hr>
        <form action="{% url 'friendboard:friendboard' %}" method = "POST">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="submit">제출</button>
        </form> 

        {% for post in post_list %}
            <div class="friend">
                <p>{{ post.content }}</p>
                <div class="buttons">
                    <button id="myBtn{{post.pk}}" onclick="delpost('{{post.pk}}')"></button>
                </div>

                    
                
            </div>

        <!-- Modal -->
            <div id="myModal{{post.pk}}" class="modal">
                    <form action="{% url 'friendboard:delete' post.pk %}" method="POST">
                            {% csrf_token %}
                        <div class="modal-content">
                            <span class="close" id="cls{{post.pk}}">&times;</span>                                                               
                            <p>글 등록시 입력 한 비밀번호 입력하세요</p>
                            <input name="valpw" type="password">
                            <button type="submit">삭제</button>
                        </div>
                    </form>
            </div>
                {% empty %}
                    <p>아직 등록된 게시물이 없습니다.</p>
                {% endfor %}


                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <script>alert('{{ message }}')</script>
                    {% endfor %}
                </ul>
                {% endif %}
        

            <script>
                function delpost(pk){

                        clickmodal = "myModal" + pk;
                        clickbtn = "myBtn" + pk;
                        clickcls = "cls"+ pk;
                        var btn = document.getElementById(clickbtn);
                        var modal = document.getElementById(clickmodal);
                        var span = document.getElementById(clickcls);   
                        modal.style.display = "block";


                            span.onclick = function() {
                                modal.style.display = "none";
                            }
                            window.onclick = function(event) {
                                if (event.target == modal) {
                                    modal.style.display = "none";
                                }
                            }

            }
            </script>

    </div>
    </div>
{% endblock %}